POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppasword
POSTGRES_PORT=5432

ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080

CONNECTION_STRING=Host=postgres;Port=5432;Database=appdb;Username=appuser;Password=apppasword
